/* .pageContainer {
  display: flex;
  justify-content: center;
} */


.container {
  width: 100%;
  max-width: 100%;
  margin: 30px auto;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
}
/* .container {
  /* width: 815px; 
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
} */

.header {
  display: flex;
  padding: 8px 0px;
  background: black;
  gap: 24px;
  /* align-items: flex-start; */
  justify-content: center; /* Center items horizontally */
  align-items: center; 
  /* flex-wrap: wrap; */
  grid-column-start: 2;
}

.thumbnail {
  border-radius: 28px;
  /* margin-top: 25px;*/
} 

.textColumn {
  /* width: 500px; */
  /* width: 100%; */
  flex-grow: 1;
  /* display: flex; */
  flex-direction: column;
  gap: 24px;
}

.headlineRow {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.headline {
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}

.statusInfo {
  display: flex;
  gap: 24px;
  color: white;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.supportingText {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin: 10px 0 ;
}

/* .supportingText {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* Limit to 3 lines 
  -webkit-box-orient: vertical;
} */

.button {
  width: 160px;
  background: #6C48FF;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 10px 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  cursor: pointer;
}

.filterChips {
  display: flex;
  gap: 8px;
}

.genreChip, .platformChip {
  padding: 6px 16px;
  background: #DCDCDC;
  border-radius: 2px;
  color: black;
  font-size: 9px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.1px;
}

.systemRequirements {
  display: flex;
  padding: 10px 0;
  background: black;
  color: white;
  gap: 29px;

  align-items: center; /* Center items horizontally */
  width: 100%; /* Ensure full width for centering */

  grid-row-start: 3;
  grid-column-start: 2;
}

.requirementsTitle, .additionalInfoTitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.requirementsColumn p, .additionalInfo p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;

  align-items: center; /* Center content within these sections */
  gap: 10px; /* Adjust as needed */
}

.screenshots {
  display: flex;
  padding: 10px 0px;
  background: black;
  gap: 20px;

  grid-row-start: 2;
  grid-column-start: 2;
}

.screenshotImage {
  border-radius: 16px;
}

.toggleButton {
  background: none;
  border: none;
  color: #9277ff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 0;
  text-decoration: underline;
}
