.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.pagination li {
  margin: 0 3px;
}

.pagination button {
  padding: 8px 12px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.pagination button:hover:not(:disabled) {
  background-color: #e6e0f3; /* Light purple for hover */
}

.pagination .active button {
  background-color: #6C48FF; /* Bright purple for active */
  color: white;
}

.pagination .active button:hover {
  background-color: #8060ff; /* Slightly darker purple for active hover */
}

.pagination .navButton {
  background-color: #6C48FF; /* Bright purple for nav buttons */
  color: white;
}


.pagination .navButton:hover:not(:disabled) {
  background-color: #6C48FF; /* Slightly darker purple for nav button hover */
}

.pagination .navButton:disabled {
  background-color: #988bcc; /* Light purple for disabled state */
  color: black;
  cursor: not-allowed;
}

.pagination .ellipsis {
  padding: 8px 12px;
  color: #ffffff;
}

@media (max-width: 600px) {
  .pagination button {
    padding: 6px 10px;
    font-size: 12px;
  }
}